@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100&display=swap");
* {
    color: #444444;
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    gap: 50px;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
}

.imageContainer {
    display: flex;
    align-self: flex-end;
}

.imageContainer img {
    align-self: flex-end;
    width: 750px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 0;
    gap: 25px;
    height: 100%;
    width: 700px;
}

.title h2 {
    letter-spacing: -1.5px;
    font-size: 64px;
    text-align: left;
    font-weight: 600;
}
.title span {
    color: #ffcc02;
}

.textContainer p {
    font-size: 22px;
    text-align: left;
    color: #737373;
    padding: 0 0 25px 0;
    border-bottom: 1px solid #d4d4d4;
}

.iconContainer {
    gap: 20px;
    display: flex;
}

.icon {
    box-sizing: content-box;
    fill: #bdbdbd;
    height: 30px;
    width: 30px;
    padding: 10px;
    transition: 0.2s;
}

.icon:hover {
    background-color: #ececec;
}

.textMainContainer {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.facebook:hover {
    background-color: #ececec;
}

.facebook {
    transition: 0.2s;
    box-sizing: content-box;
    fill: #bdbdbd;
    padding: 10px;
    height: 26px;
    width: 29px;
}
