@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100&display=swap");
* {
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.Mcontainer {
    width: 90vw;
    display: flex;
    justify-content: space-around;
}

.containerL {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.carla {
    width: 42rem;
}

.textoP {
    font-size: 1.5em;
    color: #656565;
}

.btn {
    cursor: pointer;
    align-self: flex-end;
    height: 52px;
    font-size: 22px;
    background-color: #FFD941;
    font-weight: 550;
    border: none;
    color: white;
    padding: 5px 40px;
    border-radius: 30px;
    transition: 0.2s;
}

.btn:hover {
    padding: 8px 50px;
}

.divTexto{
    display: flex;
    justify-content: center;
    width: 600px;
}

.arrow {
    padding: 15px;
    border-radius: 50%;
    border: none;
    background-color: #FFDC51;
    position: fixed;
    right: 40px;
    bottom: 20px;
    cursor: pointer;
    z-index: 999;
    transition: 0.3s;
}

.arrow:hover {
    scale: 1.09;
}
