@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100&display=swap");
* {
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
@media screen and (min-width: 1380px) {
    .Mcontainer {
        width: 90vw;
        display: flex;
        justify-content: space-around;
    }

    .containerL {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }

    .carla {
        width: 42rem;
    }

    .textoP {
        font-size: 1.5em;
        color: #656565;
    }

    .btn {
        cursor: pointer;
        align-self: flex-end;
        height: 52px;
        font-size: 22px;
        background-color: #ffd941;
        font-weight: 550;
        border: none;
        color: white;
        padding: 5px 40px;
        border-radius: 30px;
        transition: 0.2s;
    }

    .btn:hover {
        padding: 8px 50px;
    }

    .divTexto {
        display: flex;
        justify-content: center;
        width: 600px;
    }

    .arrow {
        padding: 15px;
        border-radius: 50%;
        border: none;
        background-color: #ffdc51;
        position: fixed;
        right: 40px;
        bottom: 20px;
        cursor: pointer;
        z-index: 999;
        transition: 0.3s;
    }

    .arrow:hover {
        scale: 1.09;
    }

    .TextoMob {
        display: none;
    }
    .CarlaMob {
        display: none;
    }
    .text2mob {
        display: none;
    }
}
@media screen and (min-width: 780px) and (max-width: 1379px) {
    .TextoHome {
        display: none;
    }
    .textoP {
        display: none;
    }
    .carla {
        display: none;
    }
    .arrow {
        padding: 15px;
        border-radius: 50%;
        border: none;
        background-color: #ffdc51;
        position: fixed;
        right: 40px;
        bottom: 20px;
        cursor: pointer;
        z-index: 999;
        transition: 0.3s;
    }

    .btn {
        cursor: pointer;
        align-self: flex-end;
        height: 45px;
        font-size: 22px;
        background-color: #ffd941;
        font-weight: 550;
        border: none;
        color: white;
        padding: 5px 25px;
        border-radius: 30px;
        transition: 0.2s;
    }

    .text2mob {
        color: #656565;
        font-size: 1.1em;
    }

    .containerL {
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
    }

    .CarlaMob {
        width: 18em;
    }
    .TextoMob {
        width: 20em;
    }

    .text2mob {
        color: #656565;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 779px) {
    .TextoMob {
        display: none;
    }
    .textoP {
        display: none;
    }
    .carla {
        display: none;
    }
    .arrow {
        padding: 15px;
        border-radius: 50%;
        border: none;
        background-color: #ffdc51;
        position: fixed;
        right: 40px;
        bottom: 20px;
        cursor: pointer;
        z-index: 999;
        transition: 0.3s;
    }

    .btn {
        cursor: pointer;
        align-self: flex-end;
        height: 45px;
        font-size: 22px;
        background-color: #ffd941;
        font-weight: 550;
        border: none;
        color: white;
        padding: 5px 25px;
        border-radius: 30px;
        transition: 0.2s;
    }

    .text2mob {
        color: #656565;
        font-size: 1.1em;
    }

    .containerL {
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
    }

    .TextoHome {
        width: 20em;
    }
    .CarlaMob {
        width: 22em;
    }
    .arrow {
        display: none;
    }
}
