* {
    box-sizing: border-box;
    text-decoration: none;
}

.ul {
    gap: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.li {
    border-radius: 7px;
    padding: 2px 7px;
    transition: background-color 0.2s;
}

.li a {
    font-size: 20px;
}
