.container{
    height: 100vh;
}

.criando {
    padding: 4rem;
    font-size: 3rem;
    font-weight: 600;
    color: #656565;
}

.laco {
    color: #FFCC02;
}

.direitos {
    font-size: 1.4rem;
}

.img {
    height: 45rem;
}